asgiref==3.11.1
Django==5.2.11
django-stubs==5.2.9
django-stubs-ext==5.2.9
djangorestframework==3.16.1
djangorestframework-stubs==3.16.8
sqlparse==0.5.5
tomli==2.4.0
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
